<ion-view class="walkthrough-view" cache-view="false">
  <ion-content scroll="false">
    <div class="page-content">
      <img ng-src="img/barbotextbelow.svg" class="logo"/>
      <div class="btn-facebook" ng-click="login()"/>
      <div class="login-form">
        <label class="uname-label">Email</label>
        <input type="email" placeholder="Email" class="uname-field"/>
        <label class="pwd-label">Password</label>
        <input type="password" placeholder="Password" class="pwd-field"/>
        <a ui-sref="app.feeds-categories" class="btn-signin"/>
        <a ui-sref="auth.signup" class="btn-register"/>
        <a ui-sref="auth.forgot-password" class="forgot-pwd">Forgot Password?</a>
      </div>
    </div>
  </ion-content>
</ion-view>