<ion-view class="settings-view">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <img class="logo-on-top" src="img/barbo.svg" />
  </ion-nav-buttons>
  <ion-nav-title>
    <img src="img/barbotext.svg" class="header-text"/>
  </ion-nav-title>
  <ion-content>
    <div class="text-center">
      <br>
      <img class="glow-img" src="../img/luke.png" width="100" />
      <br>
      <h3 class="settings-name">Luke Patterson</h3>
      <span style="color:white">Austin, TX</span>
    </div>

    <form class="signup-form">
      <label>Email</label>
      <input type="text">
      <br>
      <label>Password</label>
      <input type="password">
      <br>
      <label class="remember-me">
        <input type="checkbox" />
        Remember me on Login
      </label>
    </form>
    <div class="text-center">
      <h3 class="follow">Like and Follow us on:</h3>
      <div class="social-row">
        <img alt="" src="img/facebook-logo.png" class="fb"/>
        <img alt="" src="img/instagram.png"/>
        <img alt="" src="img/twitter.png"/>
      </div>
      <div ui-sref="" class="btn-invite-fb"></div>
      <div ui-sref="" class="btn-signout" ng-click="showLogOutMenu()"></div>
    </div>
  </ion-content>
</ion-view>