<ion-view class="settings-view">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <img class="logo-on-top" src="img/barbo.svg" />
  </ion-nav-buttons>
  <ion-nav-title>
    <img src="img/barbotext.svg" class="header-text"/>
  </ion-nav-title>
  <ion-content>
    <div class="row">
      <div class="settings-container text-center">
        <img class="glow-img" src="{{user.picture}}" width="100" style="display: inline; float: none; margin-top: 10px;"/>
        <h3 class="settings-name">{{user.profileInfo.name}}</h3>
        <span style="color:white">Austin, TX</span>
      </div>
    </div>

    <div class="row">
      <div class="settings-container signup-form text-center">
        <label class="labels">Email</label>
        <br>
        <input type="text">
        <br>
        <br>
        <label class="labels">Password</label>
        <br>
        <input type="password">
        <br>
        <br>
        <label class="remember-me">
          <input type="checkbox" />
          Remember me on Login
        </label>
      </div>
    </div>
    <div class="row">
      <div class="settings-container text-center">
        <div class="follow">Like and Follow us on:</div>
        <br>
        <div class="social-row">
          <img alt="" src="img/facebook-logo.png"/>
          <img alt="" src="img/instagram.png"/>
          <img alt="" src="img/twitter.png"/>
          <br>
          <br>
          <div class="btn-invite-fb"></div>
          <br>
          <div class="btn-signout" ng-click="showConfirmLogOut()"></div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>