<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content class="post-size-14px">
    <ion-nav-bar class="bar app-top-bar">
      <ion-nav-back-button>
      </ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" class="main-menu" expose-aside-when="large">
    <ion-content>
      <ion-list>
        <ion-item class="heading-item item item-avatar" nav-clear menu-close ui-sref="app.profile">
          <div class="user-image-container">
            <pre-img ratio="_1_1" helper-class="rounded-image">
              <img class="user-image" ng-src="{{user.picture}}" spinner-on-load>
          	</pre-img>
          </div>
          <h2 class="greeting">Hi {{firstName()}}</h2>
          <p class="message">Welcome back</p>
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.feeds-categories">
          <i class="icon ion-clipboard"></i>
          <h2 class="menu-text" style="font-family:'Lobster_1_4';">Venue List</h2>
        </ion-item>        
        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.maps">
          <i class="icon ion-android-globe"></i>
          <h2 class="menu-text" style="font-family:'Lobster_1_4';">Venue Map</h2>
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close href="">
          <i class="icon ion-heart"></i>
          <h2 class="menu-text" style="font-family:'Lobster_1_4';">Favorites</h2>
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close href="">
          <i class="icon ion-paper-airplane"></i>
          <h2 class="menu-text" style="font-family:'Lobster_1_4';">Contact</h2>
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.settings">
          <i class="icon ion-android-settings"></i>
          <h2 class="menu-text" style="font-family:'Lobster_1_4';">Settings</h2>
        </ion-item>
        <ion-item>
          <h2>Follow us</h2>
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close href="" ng-click="openUrl('http://www.facebook.com/barboapp');">
          <i class="icon ion-social-facebook"></i>
          <h2 class="menu-text" style="font-family:'Lobster_1_4';">Facebook</h2>
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close href="" ng-click="openUrl('http://www.twitter.com/barboapp');">
          <i class="icon ion-social-twitter"></i>
          <h2 class="menu-text" style="font-family:'Lobster_1_4';">Twitter</h2>
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close href="" ng-click="openUrl('http://www.instagram.com/barboapp');">
          <i class="icon ion-social-instagram"></i>
          <h2 class="menu-text" style="font-family:'Lobster_1_4';">Instagram</h2>
        </ion-item>

    </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
