@font-face {
	font-family:"Lobster_1_4";
	src:url("../fonts/Lobster_1_4/Lobster_1_4.eot?") format("eot"),
		url("../fonts/Lobster_1_4/Lobster_1_4.woff") format("woff"),
		url("../fonts/Lobster_1_4/Lobster_1_4.ttf") format("truetype"),
		url("../fonts/Lobster_1_4/Lobster_1_4.svg#Lobster1.4") format("svg");
	font-weight:normal;
	font-style:normal;
}

.settings-view
{

	.settings-container {
		margin: auto;
		width: 100%;

	}

	.logo {
		width: auto;
		height: 50px;
	}

	.logout-option
	{
		text-align: center;
	}

	.signup-form {

		input {

			float: none;
			display: inline;

			width: 70%;

			border: 1px solid #000000;
			/* round the corners */
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			border-radius: 4px;

			/* make it glow! */
			-webkit-box-shadow: 0px 0px 10px #9ee5de;
			-moz-box-shadow: 0px 0px 10px #9ee5de;
			box-shadow: 0px 0px 10px #9ee5de;
		}
		
		.labels {
			position: absolute;
			left: 16% !important;
		    color: #fff;
		}

		.remember-me {
			color: #fff;
			input {
				width: auto;
			}
		}
	}

	.glow-img {

		border: 1px solid #000;

		// for glowing
		-webkit-box-shadow: 0 0 20px #f0cd54, inset 0 0 20px rgba(255,255,255,1);
		-moz-box-shadow: 0 0 20px #f0cd54, inset 0 0 20px rgba(255,255,255,1);
		box-shadow: 0 0 30px #f0cd54, inset 0 0 20px rgba(255,255,255,1);

		// for round edges
		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
		border-radius: 5px;
	}

	.settings-name {
		font-family: "Lobster_1_4";
		color: white;
		padding-top: 10px;
	}

	.follow {
		@extend .settings-name;
		position: relative;
		margin-top: 10px;
		font-size: 25px;
	}

	.social-row {

		img {
			height: 30px;
			width: 30px;
		}
	}

	.btn-invite-fb {
		background: url('../img/invite-fb.png') no-repeat;
		background-size: cover;
		width: 190px;
		height: 40px;
		margin: 0 auto;
	}

	.btn-invite-fb:active {
		background: url('../img/invite-fb-active.png') no-repeat;
		background-size: cover;
	}

	.btn-signout {
		background: url('../img/signout.png') no-repeat;
		background-size: cover;
		width: 120px;
		height: 30px;
		margin: 0 auto;
	}

	.btn-signout:active {
		background: url('../img/signout.png') no-repeat;
		background-size: cover;
	}

	background-color: darken($dark, 70%) !important;
	ion-content:before
	{
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		z-index: -1;

		opacity: 0.6;

		display: block;
		background: url("../img/background-list.png") no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		background-size: cover;


	}
}

.logo-on-top {
	position: absolute;
	width: 55px;
	right: -5px;
	top: -28px;
}