.maps-view
{
	background-color: $content-bg !important;

	[gm-info-window] {
	  	display: none;
	}

	.marker-label,
	.marker-icon { {
		-webkit-filter: drop-shadow(12px 12px 25px rgba(0,0,0,0.5));
	    filter: url(#drop-shadow);
	    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
	    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
	}

	.glow-img {

		max-width: 80px !important;

		border: 1px solid #000;

		// for glowing
		-webkit-box-shadow: 0 0 20px #f0cd54, inset 0 0 20px rgba(255,255,255,1);
		-moz-box-shadow: 0 0 20px #f0cd54, inset 0 0 20px rgba(255,255,255,1);
		box-shadow: 0 0 30px #f0cd54, inset 0 0 20px rgba(255,255,255,1);

		// for round edges
		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
		border-radius: 5px;
	}

	.h3 {
		font-size: 14px;
	}

	.spinner svg {
		position: absolute;
		left: 50%;
		top: 200px;
		width: 50px;
		height: 50px;
	}

	.map [gm-info-window] {
	  display: block;
	  width: 280px;
	}
	 
	.map {
	  height: 100% !important;
	}
	 
	/* 
	Fixes Bootstrap issues with Google Maps
	see http://stackoverflow.com/a/9170756 
	*/
	.map img { 
	  max-width: none;
	}

	.mapWrap
	{
		height: 100%;
	}
}


#iw-container  .iw-title {
   font-family: 'Open Sans Condensed', sans-serif;
   font-size: 22px;
   font-weight: 400;
   padding: 10px;
   background-color: #48b5e9;
   color: white;
   margin: 1px;
   border-radius: 2px 2px 0 0; /* In accordance with the rounding of the default infowindow corners. */
}