.maps-view
{
	background-color: $content-bg !important;

	.gm-style-iw {
	   width: 350px !important;
	   top: 0 !important;
	   left: 0 !important;
	   border-radius: 2px 2px 0 0;
	}

	[gm-info-window] {
	  	display: none;
	  	//background: url('../img/popup-bg.png') no-repeat;
		//background-size: contains;
		//width: 50%;
		//height: 50%;
	}

	.map [gm-info-window] {
	  display: block;
	}
	 
	.map {
	  height: 100% !important;
	}
	 
	/* 
	Fixes Bootstrap issues with Google Maps
	see http://stackoverflow.com/a/9170756 
	*/
	.map img { 
	  max-width: none;
	}

	.mapWrap
	{
		height: 100%;
	}
}


#iw-container  .iw-title {
   font-family: 'Open Sans Condensed', sans-serif;
   font-size: 22px;
   font-weight: 400;
   padding: 10px;
   background-color: #48b5e9;
   color: white;
   margin: 1px;
   border-radius: 2px 2px 0 0; /* In accordance with the rounding of the default infowindow corners. */
}