.walkthrough-view
{
	.page-content {

		.content-container {
			margin: auto;
			width: 100%;

			.logo {
				width: auto;
				height: 250px;
				margin-top: 10px;
			}

			.btn-facebook {
				margin: 0 auto;
				width: 330px;
				height: 100px;
				background: url('../img/btn-facebook.png') no-repeat;
				background-size: cover;
			}

			.btn-facebook:active {
				background: url('../img/btn-facebook-active.png') no-repeat;
				background-size: cover;
			}
		}

		.login-form {

			input {

				float: none;
				display: inline;

				width: 70%;

				border: 1px solid #000000;
				/* round the corners */
				-webkit-border-radius: 4px;
				-moz-border-radius: 4px;
				border-radius: 4px;

				/* make it glow! */
				-webkit-box-shadow: 0px 0px 10px #9ee5de;
				-moz-box-shadow: 0px 0px 10px #9ee5de;
				box-shadow: 0px 0px 10px #9ee5de;
			}
			
			.labels {
				position: absolute;
				left: 16% !important;
			    color: #fff;
			}
		}

		.btn-container {
			margin: auto;
			width: 100%;

			.btn-signin {
				margin: 0 auto;
				background: url('../img/signin.png') no-repeat;
				background-size: cover;
				width: 135px;
				height: 35px;
				float: right;
			}

			.btn-signin:active {
				background: url('../img/signin-active.png') no-repeat;
				background-size: cover;
			}

			.btn-register {
				float: left;
				margin: 0 auto;
				background: url('../img/register.png') no-repeat;
				background-size: cover;
				width: 135px;
				height: 35px;
			}

			.btn-register:active {
				background: url('../img/register-active.png') no-repeat;
				background-size: cover;
			}
		}

		.forgot-pwd {
			color: #fff;
			text-align: right;
			padding-right: 57px;
			font-size: 12px;
			text-decoration: none;
		}
	}

}
