<ion-view class="maps-view">
  <ion-nav-title>
    <span>Maps</span>
  </ion-nav-title>
  <ion-content scroll="false">
    <div class="mapWrap"  data-tap-disabled="true">
      <div id="iw-container" gm-info-window="infoWindow" mapDetails>

        <div class="iw-title"></div>
          <h4>{{selectedVenue.strName}}</h4>
          {{selectedVenue.intDistance}} Miles

      </div>
      <gm-map gm-map-id="'venues'" gm-center="center" gm-map-options="options" class="map" gm-zoom="zoom">
    
        <gm-markers gm-objects="venues"
                    gm-id="object.id"
                    gm-position="{ lat: object.intLatitude, lng: object.intLongitude }"
                    gm-marker-options="{ title: object.strName, clickable: true }"
                    gm-events="markerEvents"
                    gm-on-openinfowindow="selectedVenue = object; infoWindow.open(marker.getMap(), marker);"
                    gm-on-click="triggerOpenInfoWindow(object)">
        </gm-markers>
    
      </gm-map>
    </div>
  </ion-content>
</ion-view>
